.App {
  text-align: center;
}

.logo{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 35%;
}

.weTake{
  color: goldenrod;
  text-align: center;
  font-size: 40px;
  margin-top: 10%;
}

.lapd{
  height: 215px!important;
  margin-left: 50%;
}

.cardOne{
  background-color: white;
}

