.App {
  text-align: center;
}

.logo{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 35%;
}

.about{
  color: goldenrod;
  text-align: center;
  font-size: 70px;
  margin-top: 20%;
}

.weTake{
  color: goldenrod;
  text-align: center;
  font-size: 40px;
  margin-top: 10%;
  font-family: 'Playball', cursive;
}

.lapd{
  height: 215px!important;
  margin-left: 50%;
}

.cardOne{
  background-color: white;
}

.cardTwo{
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: none;
}

.cardThree{
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%;
}

.title{
  color: goldenrod;
  text-align: center;
  font-size: 50px;
  margin-top: 10%;
}

.bodytxt{
  color: goldenrod;
  text-align: center;
  font-size: 30px;
}

.larow{
  width: 80%;
  margin-left: 20%;
}
